$button-color: #F0F0F0;

$tab-border-color: #B2B2B2;
$tab-width: 150px;
$tab-height: 30px;
$tab-end-width: 28px;

$url-input-height: 25px;

* {
  box-sizing: border-box;
}

[hidden] {
  display: none !important;
}

body {
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
  font-size: 14px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#root > div {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

input, textarea, button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

button {
  cursor: pointer;
}

label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
}

.error {
  font-size: 10px;
  background: #D92215;
  color: white;
  padding: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
}

button {
  font-size: 12px;
  background: $button-color;
  color: inherit;
  padding: 8px 15px;
  border: 1px solid darken($button-color, 10%);
  border-radius: 3px;
  &:active,
  &:focus {
    outline: none;
  }
  &.action {
    background: #E61A70;
    color: white;
  }
  &:active {
    outline: none;
    background: darken(#F0F0F0, 10%);
  }
  &.transparent {
    border: none;
    background: none;
  }
}

input, textarea {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #DDD;
  background: white;
  transition: border-color 0.2s ease;
  &:focus {
    outline: none;
    border-color: #1388F9;
  }
}

textarea {
  resize: vertical;
  height: 100px;
}

.browser-container {
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  &[hidden] {
    display: none;
  }
}
.webview-container {
  flex-grow: 1;
  position: relative;

  &.load-fail {
    background: #F0F0F0;
    color: lighten(#4D4D4D, 10%);
    font-size: 18px;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  webview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.tabs {
  flex-shrink: 0;
  background: #F6F6F6;
  background-image: linear-gradient(#ECECEC, #D4D4D4);
  display: flex;
  border-bottom: 1px solid $tab-border-color;
  padding-top: 7px;
  padding-left: 100px;
  .tab {
    position: relative;
    opacity: 0.5;
    display: flex;
    width: $tab-width;
    height: $tab-height;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    &::before,
    &::after {
      opacity: 0;
      position: absolute;
      right: 100%;
      flex-shrink: 0;
      display: block;
      content: "";
      background-image: url(img/tab-left-2x.png);
      background-size: contain;
      height: $tab-height;
      width: $tab-end-width;
    }
    &::after {
      left: 100%;
      background-image: url(img/tab-right-2x.png);
    }
    .fa.fa-spinner {
      color: #3476DC;
      position: absolute;
      top: 9px;
      left: -3px;
      opacity: 0;
      transition: opacity 0.2s ease;
      &.on {
        opacity: 1;
      }
    }
    .middle {
      width: $tab-width;
      height: $tab-height;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid transparent;
      background-size: contain;
      background-repeat: repeat-x;
      padding-right: 8px;
      .title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &:hover,
    &.active {
      .middle {
        border-top: 1px solid $tab-border-color;
        background-image: linear-gradient(#FAFAFA, #ECECEC);
      }
      &::after,
      &::before {
        opacity: 1;
        pointer-events: none;
      }
    }
    &.active {
      opacity: 1;
      z-index: 1;
    }
    font-size: 12px;
    // border: 1px solid $tab-border-color;
    border-bottom: none;
    position: relative;
    bottom: -1px;
    .delete {
      cursor: pointer;
      z-index: 2;
      position: absolute;
      right: -10px;
      top: 5px;
      color: #B6B6B6;
      padding: 3px;
    }
    &.active:hover {
      .delete {
        opacity: 0.7;
      }
    }
  }

}
.url-bar {
  flex-shrink: 0;
  background-image: linear-gradient(#ECECEC, #D5D5D5);
  padding: 8px;
  padding-left: 30px;
  position: relative;
  border-bottom: 1px solid #B3B3B3;
  .back-button {
    z-index: 1;
    $button-size: 32px;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    top: 5px;
    left: 5px;
    height: $button-size;
    width: $button-size;
    border-radius: 50%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: #FBFBFB;
    color: #696969;
    border-color: #AEAEAE;
  }
  input {
    font-size: 13px;
    padding-left: 20px;
    height: $url-input-height;
    border-bottom-color: #ACACAC;
    &:focus {
      border-color: #1388F9;
    }
  }
}

.add-tab-btn {
  margin-left: -15px;
  cursor: pointer;
  opacity: 0.5;
  &:hover {
    opacity: 1;
  }
}

.toolbar-area {
  display: flex;
  .input-container {
    flex-grow: 1;
    position: relative;
    .refresh-btn {
      position: absolute;
      right: 0;
      top: 0;
      height: $url-input-height;
      padding: 0 10px;
      border: 0;
      background: none;
    }
  }

  .toolbar {
    list-style: none;
    padding: 0;
    margin: 0 0 0 3px;
    display: flex;
    li {
      display: inline-block;
      button {
        color: lighten(#4D4D4D, 10%);
        height: $url-input-height;
        padding: 0 3px;
        transition: all 0.2s ease;
        border: 1px solid transparent;
        font-size: 18px;
        &:hover {
          color: #4D4D4D;
          border-color: rgba(black, 0.2);
        }
      }
    }
  }
}

.inspector {
  background: #282C34;
  color: #ABB2C0;
  font-family: menlo;
  font-size: 12px;
  button {
    padding: 5px 8px;
    background: #282C34;
    border-color: black;
  }
  header {
    text-align: right;
    padding: 5px;
    background: darken(#282C34, 5%);
    border-bottom: 1px solid black;
  }
  main {
    padding: 20px;
  }
  pre {
    font-family: inherit;
    width: 100%;
  }
}
